/* =============
    Demo Spaceship
============= */

#wrapper{
  width:1000px;
  height:800px;
  margin:0 auto;
  background-color: #436b6f;
  overflow: hidden;
  position: relative;

  /* guide */
  // background-image: url('../img/guide.jpg');
  // background-size: cover;
}
